:root {
  --light-yellow: #f7e4bf;
  --light-blue: #78a7c6;
  --dark-blue: #134d71;
}

body {
  background: rgba(0, 0, 0, 0);
  font-family: 'Quicksand', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.bg {
  position: absolute;
  transition: opacity 800ms;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: -1;

  &.current {
    opacity: 1;
  }
  &#bg-default {
    background-image: linear-gradient(
      var(--dark-blue),
      var(--light-blue),
      var(--light-yellow)
    );
  }
  &#bg-affirmations {
    background-image: linear-gradient(#947db3, #f7adc1, #f0ecdf);
  }
  &#bg-mantras {
    background-image: linear-gradient(#c76b98, #f09f9c, #fcc3a3);
  }
  &#bg-base {
    background: var(--dark-blue);
    z-index: -2;
    opacity: 1;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100px;
  width: 800px;
  max-width: 90vw;
}

/* ------ message form ------ */

form {
  font-style: italic;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
}

.radio-input-group {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--dark-blue);
  }
}

input {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border: hidden;

  &:hover {
    cursor: pointer;
  }
}

button {
  font-size: 1.2em;
  padding: 5px 35px;
  background: var(--dark-blue);
  color: #ffffff;
  border-radius: 5px;
  border: hidden;
  transition: all 0.6s ease-in-out;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px 2px var(--light-blue);
    cursor: pointer;
  }
}

/* ------ message display area ------ */

#message-display-area {
  min-height: 10em;
  width: 70em;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#display-message-text {
  color: rgba(0, 0, 0, 1);
  transition: all 1.5s ease-in-out;
  font-size: 1.2em;
}

.hidden {
  opacity: 0;
  position: absolute;
}

.shown {
  opacity: 1;
}

#message-loading-img {
  height: 5em;
  width: auto;
  transition: all 1.5s ease-in-out;
}

/* ------ meditation animation ------ */

.animate > .meditation-head {
  animation: grow 5s infinite ease-in-out;
  transform-box: fill-box;
  transform-origin: center;
}

.animate > #halo1 {
  animation: rotateClockwise 3s infinite linear;
  transform-box: fill-box;
  transform-origin: 50% 75%;
}

.animate > #halo2 {
  animation: rotateCounterClockwise 4s infinite linear;
  transform-box: fill-box;
  transform-origin: 213% 57%;
}

.animate > #halo3 {
  animation: rotateClockwise 6s infinite linear;
  transform-box: fill-box;
  transform-origin: -120% 57%;
}

@keyframes rotateClockwise {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateCounterClockwise {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1.3);
  }
}

/* ------ screen size adjustments ------ */

@media screen and (max-width: 550px) {
  body {
    height: 92vh;
    padding: 2em 1em;
    justify-content: flex-start;
  }

  main {
    gap: 2em;
    flex-grow: 1;
    overflow: hidden;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section {
    max-width: 92%;
  }

  form {
    justify-content: center;
    gap: 2em;
  }

  #message-select-section {
    flex-grow: 0;
  }

  #display-message-text {
    max-width: 10em;
    font-size: 1.6em;
  }

  #message-display-section {
    flex-grow: 1;
    background: yellow;
    max-width: 75%;
  }

  #message-display-area {
    flex-grow: 1;
  }

  #message-loading-img {
    height: 10em;
  }
}
